polars==1.36.1
streamlit==1.52.0
pandas==2.3.3
gurobipy==12.0.3
matplotlib==3.10.6
matplotlib-inline==0.1.7
openpyxl==3.1.5
pillow==11.3.0
plotly==6.5.0
joblib==1.5.3
kneed==0.8.5
scikit-learn==1.7.0
xgboost==2.1.4
graphviz==0.21
seaborn==0.13.2
statsmodels==0.14.6
